<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true" verbose="true">
  <php>
    <ini name="error_reporting" value="-1" />
    <ini name="memory_limit" value="-1" />
  </php>
  <testsuites>
    <testsuite name="tests">
        <directory>./tests/</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory>./src/</directory>
    </whitelist>
  </filter>
</phpunit>
